html {
    font-family: 'Source Sans Pro', sans-serif;
}

#graphicContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

label {
    display: block;
}

text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    fill: black;
}

h1 {
    font-size: 30px;
    margin: 20px;
    display: block;
    text-align: center;
}


.clearfix {
    clear: both;
}

.sliderdiv {
    width: 100%;
    min-width: 350px;
    margin: 15px auto;
    clear: both;
    display: block;
    text-align: center;

    #slideBlock {}

    #slideBlock {
        width: 90%;
        display: block;
        float: left;
    }

    #slider {
        width: 100%;
        display: block;
        position: relative;
        float: left;
        height: 20px;
    }
    #dates {
        width: 80%;
        div {
            width: 33.3333%;
            display: inline-block;
            float: left;

            &:first-of-type {
                text-align: left;
            }
            &:last-of-type {
                text-align: right;
            }
        }
    }

    .btnblock {
        width: 10%;
        display: block;
        float: left;
    }

    #year-output {
        text-align: center;
        font-size: 20px;
        color: $accent;
    }

    #playbtn {
        display: block;
        background: $accent;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 90%;
        margin: 0 auto;
    }
    label {
        font-family: 'Source Sans Pro', sans-serif;

        color: gray;
        display: block;
    }
}


/*Graph*/

#graph {
    width: 65%;
    margin-right: 10%;

    #tooltips {
        .tooltipdetail {
            display: none;
        }

        .tooltip {
            padding: 10px;
            border: 1px solid gray;
            border-radius: 3px;
            background: rgba(255, 255, 255, .9);
            display: none;
            position: fixed;
        }

        .tooltipcaption {
            font-size: 16px;
            font-weight: 700;
        }
    }

    svg {
        shape-rendering: geometricPrecision;
    }

    #theGraph {
        #xLabel,
        #yLabel {
            font-size: 18px;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .label {
            fill: #777;
            font-size: 100px;
            font-family: 'Source Sans Pro', sans-serif;
        }
        .year.label {
            font-family: 'Source Sans Pro', sans-serif;
            fill: #ddd;
        }

        .year.label.active {
            fill: #aaa;
        }

        circle {
            //stroke: black;
            stroke-width: 1px;
        }

        circle:hover {
            cursor: pointer;
        }
    }
}



/*Container Right*/

#containerTopRight {
    width: 20%;

    span.key-label {
        display: block;
        padding: 15px 0px 5px;
        font-weight: bold;
    }

    .colorLegendElement {
        font-family: 'Source Sans Pro', sans-serif;
        display: inline-block;
        text-align: center;
    }

    .colorLegendSquare {
        width: 15px;
        height: 15px;
        box-sizing: border-box;
    }

    .ui-accordion .ui-accordion-header {
        padding: 2%;
    }

    #circleLegendGraph {
        background-color: rgb(246, 246, 246);
        border: 1px solid rgb(197, 197, 197);
    }
}



.sliderdiv {
    width: 70%;
    min-width: 350px;
    margin: 15px auto;
    clear: both;
    display: block;

    #slider {
        width: 80%;
        display: block;
        float: left;
    }

    .playbtn {
        display: block;
        float: left;
    }

    #sliderhide {
        display: hidden;
    }
}



/*Container Top*/

#containerTop {
    margin-left: 100px;
}


/*Container Bottom*/

#containerBottom {
    width: 65%;
    padding-left: 100px;



    .ui-corner-all {
        border-radius: 0;
    }
    .dropdowndiv {
        clear: both;
        display: block;
        width: 100%;
        margin-top: 25px;
        border: 1px solid transparent;
        position: relative;

        label {
            font-family: 'Source Sans Pro', sans-serif;
            padding-bottom: 10px;
            color: gray;
        }

        select,
        select span {
            font-size: 16px;
            width: 100%;
        }



        .dropdownpair {
            position: relative;
            width: calc(33.3333% - 20px);
            display: block;
            float: left;
            margin: 0 auto;

            padding: 10px;
        }
    }
}


.ui-selectmenu-menu .ui-menu {
    height: 300px;
}

.ui-selectmenu-button.ui-button {
    width: 85%;
}

@media (min-width:0px) and (max-width:515px) {
    #graph,
    #containerBottom {
        width: 95%;
        margin-right: 0%;
    }
    #containerTopRight {
        order: 3;
        width: 100%;
        height: 20%;
    }
    #containerBottom {
        order: 2; // width: 100%;
    }
}