/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 17, sass/_base.scss */
html {
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 21, sass/_base.scss */
#graphicContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

/* line 29, sass/_base.scss */
label {
  display: block;
}

/* line 33, sass/_base.scss */
text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  fill: black;
}

/* line 39, sass/_base.scss */
h1 {
  font-size: 30px;
  margin: 20px;
  display: block;
  text-align: center;
}

/* line 46, sass/_base.scss */
header {
  display: block;
}

/* line 51, sass/_base.scss */
.clearfix {
  clear: both;
}

/* line 56, sass/_base.scss */
#circleLegendGraph {
  background-color: #f6f6f6;
  border: 1px solid #c5c5c5;
}

/* line 61, sass/_base.scss */
#containerBottom-right {
  width: 25%;
  float: right;
}

/* line 66, sass/_base.scss */
#containerBottom-left {
  width: 70%;
  float: left;
  display: block;
}

/* line 73, sass/_base.scss */
.sliderdiv {
  width: 100%;
  min-width: 350px;
  clear: both;
  display: block;
  text-align: center;
}
/* line 82, sass/_base.scss */
.sliderdiv .date-tooltip {
  position: absolute;
  display: block;
  top: -1.5em;
  width: 50px;
  left: calc(-25px + .5em);
  text-align: center;
  color: #607889;
  font-size: 90%;
}
/* line 93, sass/_base.scss */
.sliderdiv #slideBlock {
  width: calc(100% - 90px);
  display: block;
  float: left;
  padding: 10px;
}
/* line 100, sass/_base.scss */
.sliderdiv #slider {
  width: 100%;
  display: block;
  position: relative;
  float: left;
  height: 3px;
  background-color: black;
  border: transparent;
}
/* line 110, sass/_base.scss */
.sliderdiv .ui-slider-handle.ui-corner-all.ui-state-default {
  background-color: #0099e1;
  border-color: #0099e1;
  border-radius: 50%;
}
/* line 115, sass/_base.scss */
.sliderdiv #dates {
  width: 100%;
  margin-top: 10px;
}
/* line 118, sass/_base.scss */
.sliderdiv #dates .yearDiv {
  width: 33.3333%;
  float: left;
  color: gray;
  position: relative;
}
/* line 125, sass/_base.scss */
.sliderdiv #dates .yearDiv div:before {
  content: "";
  display: block;
  height: 15px;
  width: 1px;
  background-color: black;
  position: absolute;
  top: -18px;
  left: 50%;
}
/* line 137, sass/_base.scss */
.sliderdiv #dates .yearDiv.yearR div, .sliderdiv #dates .yearDiv.yearL div {
  width: 50%;
  float: left;
  position: relative;
}
/* line 144, sass/_base.scss */
.sliderdiv #dates .yearDiv.yearL .endcap {
  text-align: left;
}
/* line 147, sass/_base.scss */
.sliderdiv #dates .yearDiv.yearL .endcap:before {
  left: 0%;
}
/* line 151, sass/_base.scss */
.sliderdiv #dates .yearDiv.yearR .endcap {
  text-align: right;
}
/* line 154, sass/_base.scss */
.sliderdiv #dates .yearDiv.yearR .endcap:before {
  left: 100%;
}
/* line 161, sass/_base.scss */
.sliderdiv .btnblock {
  display: block;
  margin-right: 20px;
  float: left;
}
/* line 167, sass/_base.scss */
.sliderdiv .play-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: .4em solid transparent;
  border-left: 0.6em solid #607889;
  border-bottom: .4em solid transparent;
  margin: 0 auto;
  margin: 5px;
}
/* line 177, sass/_base.scss */
.sliderdiv #playbtn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  float: left;
  background-color: #f6f6f6;
  border: 1px solid #c5c5c5;
  padding: 10px;
}
/* line 189, sass/_base.scss */
.sliderdiv #playbtn.active {
  background: #0099e1;
  color: white;
}
/* line 192, sass/_base.scss */
.sliderdiv #playbtn.active .pause-icon {
  display: inline-block;
  width: .3em;
  height: .8em;
  border-left: .2em solid white;
  border-right: .2em solid white;
  margin: 5px;
}

/* line 204, sass/_base.scss */
#year-output {
  text-align: center;
  font-size: 20px;
  color: #0099e1;
}

/* line 214, sass/_base.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -.4em;
  height: 1em;
  width: 1em;
  border: transparent;
}

/* line 221, sass/_base.scss */
.ui-slider {
  height: 3px;
  border-radius: 0;
}

/* line 231, sass/_base.scss */
label {
  font-family: 'Source Sans Pro', sans-serif;
  color: gray;
  display: block;
}

/* line 238, sass/_base.scss */
.directions {
  font-size: 14px;
  color: gray;
  opacity: .9;
  margin-top: 5px;
  line-height: 1.2;
}

/* line 246, sass/_base.scss */
#clearCheckboxes {
  display: block;
  color: #0099e1;
  padding: 10px 0px;
  text-align: right;
  cursor: pointer;
}

/* line 254, sass/_base.scss */
.key-label {
  text-transform: uppercase;
  color: gray;
  font-size: 14px;
  padding-bottom: 10px;
  display: block;
}

/* line 263, sass/_base.scss */
#dropdownR-button,
#dropdownX-button,
#dropdownY-button {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  background: transparent;
  border: 0px solid transparent;
}

/* line 273, sass/_base.scss */
.dropdownR,
.dropdownX,
.dropdownY {
  font-size: 10px;
  display: block;
  float: right;
  line-height: 1.5em;
  color: #0099e1;
}

/* line 283, sass/_base.scss */
#dropdownR-button .ui-selectmenu-text {
  margin-right: 40px;
}

/* line 287, sass/_base.scss */
#xLabel,
#yLabel,
#circleLegendLabel {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

/*Graph*/
/* line 306, sass/_base.scss */
#graph {
  width: calc(65%);
  margin-right: 10%;
  display: block;
  float: left;
}
/* line 313, sass/_base.scss */
#graph #tooltips .tooltipdetail {
  display: none;
}
/* line 317, sass/_base.scss */
#graph #tooltips .tooltip {
  padding: 10px 12px 12px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.9);
  display: none;
  position: fixed;
}
/* line 326, sass/_base.scss */
#graph #tooltips .tooltipcaption {
  font-size: 16px;
  font-weight: 700;
}
/* line 332, sass/_base.scss */
#graph #tooltips .tooltipdetail {
  padding-top: 10px;
  font-size: 14px;
  line-height: .7;
}
/* line 336, sass/_base.scss */
#graph #tooltips .tooltipdetail span.no-data {
  font-weight: normal;
  font-style: italic;
}
/* line 343, sass/_base.scss */
#graph svg {
  shape-rendering: geometricPrecision;
}
/* line 350, sass/_base.scss */
#graph #theGraph .axis path,
#graph #theGraph .axis line {
  fill: black;
  stroke: #000;
  shape-rendering: crispEdges;
}
/* line 356, sass/_base.scss */
#graph #theGraph .gridtick line {
  stroke: #c5c5c5;
}
/* line 364, sass/_base.scss */
#graph #theGraph .label {
  fill: #777;
  font-size: 100px;
  font-family: 'Source Sans Pro', sans-serif;
}
/* line 369, sass/_base.scss */
#graph #theGraph .year.label {
  font-family: 'Source Sans Pro', sans-serif;
  fill: #ddd;
}
/* line 374, sass/_base.scss */
#graph #theGraph .year.label.active {
  fill: #aaa;
}
/* line 378, sass/_base.scss */
#graph #theGraph circle {
  stroke-width: 1px;
}
/* line 383, sass/_base.scss */
#graph #theGraph circle:hover {
  cursor: pointer;
}

/*Container Right*/
/* line 403, sass/_base.scss */
#containerTopRight {
  width: 20%;
  margin-top: 50px;
}
/* line 408, sass/_base.scss */
#containerTopRight .ui-accordion .ui-accordion-header {
  padding: 2%;
}

/* line 415, sass/_base.scss */
.colorLegendElement {
  font-family: 'Source Sans Pro', sans-serif;
  display: inline-block;
  text-align: center;
}
/* line 420, sass/_base.scss */
.colorLegendElement.nodata {
  margin-left: 10px;
}

/* line 425, sass/_base.scss */
.dropdownpair {
  margin-bottom: 20px;
  border-bottom: 1px solid #c5c5c5;
}

/* line 432, sass/_base.scss */
.dropdownpair .key-label,
#containerTopRight .key-label {
  padding-bottom: 0px;
}

/* line 437, sass/_base.scss */
.colorLegendSquare {
  width: 15px;
  height: 15px;
  box-sizing: border-box;
}

/* line 443, sass/_base.scss */
#circleLegend {
  margin-top: 30px;
}
/* line 446, sass/_base.scss */
#circleLegend #accordion {
  margin-top: 5px;
}

/* line 451, sass/_base.scss */
.data-hover {
  fill: #0099e1;
  display: block;
  background-color: blue;
}

/* line 463, sass/_base.scss */
.grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}

/* line 468, sass/_base.scss */
.grid path {
  stroke-width: 0;
}

/*Container Top*/
/* line 486, sass/_base.scss */
#containerTop {
  margin-left: 100px;
}

/*Container Bottom*/
/* line 505, sass/_base.scss */
#containerBottom {
  width: 65%;
  padding-left: 100px;
  margin-top: 40px;
}

/* line 512, sass/_base.scss */
.ui-corner-all {
  border-radius: 0;
}

/* line 516, sass/_base.scss */
.dropdowndiv {
  clear: both;
  display: block;
  width: 100%;
  margin-top: 25px;
  border: 1px solid transparent;
  position: relative;
}
/* line 524, sass/_base.scss */
.dropdowndiv select,
.dropdowndiv select span {
  font-size: 16px;
  width: 100%;
}

/* line 531, sass/_base.scss */
.ui-accordion .ui-accordion-content {
  padding: 1em 1em;
}

/* line 535, sass/_base.scss */
.ui-state-active {
  background: #0099e1;
  border: #0099e1;
}

/* line 540, sass/_base.scss */
.ui-selectmenu-menu .ui-menu {
  height: 300px;
}

/* line 544, sass/_base.scss */
.ui-selectmenu-button.ui-button {
  width: 85%;
}

/* line 548, sass/_base.scss */
#graph #tooltips .tooltip.selected {
  padding: 5px 5px 5px;
}
/* line 552, sass/_base.scss */
#graph #tooltips .tooltip.selected .tooltipcaption {
  font-size: 14px;
}

/* line 557, sass/_base.scss */
.no-data {
  color: gray;
  font-weight: normal;
}

/* line 563, sass/_base.scss */
.hamburger {
  display: none;
}

@media (min-width: 0px) and (max-width: 768px) {
  /* line 569, sass/_base.scss */
  #graph,
  #containerBottom {
    width: 95%;
    margin-right: 0%;
  }

  /* line 574, sass/_base.scss */
  #containerTop {
    margin-left: 10px;
  }

  /* line 578, sass/_base.scss */
  #containerTopRight {
    margin-top: 0px;
  }
  /* line 581, sass/_base.scss */
  #containerTopRight #menu-container {
    position: fixed;
    right: -500px;
    width: 80%;
    max-width: 400px;
    top: 0;
    padding: 20px;
    z-index: 30;
    margin-top: 0;
  }
  /* line 592, sass/_base.scss */
  #containerTopRight.active {
    display: block;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 9;
    content: '';
    position: fixed;
    background-color: rgba(0, 0, 0, 0.1);
  }
  /* line 603, sass/_base.scss */
  #containerTopRight.active #menu-container {
    position: fixed;
    right: 0px;
    width: 80%;
    max-width: 400px;
    background-color: white;
    height: 20%;
    padding: 20px;
    z-index: 30;
    height: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    top: 0;
    opacity: 1;
    z-index: 999;
    margin-top: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  /* line 619, sass/_base.scss */
  #containerTopRight.active #menu-container .hamburger .bars {
    background-color: transparent;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  /* line 623, sass/_base.scss */
  #containerTopRight.active #menu-container .hamburger .bars::before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /* line 627, sass/_base.scss */
  #containerTopRight.active #menu-container .hamburger .bars::after {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* line 634, sass/_base.scss */
  #containerTopRight .hamburger {
    display: block;
    position: fixed;
    top: 20px;
    right: 0;
    cursor: pointer;
    z-index: 1000;
    padding: 10px 15px 5px;
  }
  /* line 644, sass/_base.scss */
  #containerTopRight .hamburger span {
    vertical-align: middle;
  }
  /* line 647, sass/_base.scss */
  #containerTopRight .hamburger .bars {
    display: block;
    position: relative;
    width: 25px;
    height: 2px;
    top: 6px;
    margin-right: 5px;
    background-color: #0099e1;
    float: left;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  /* line 658, sass/_base.scss */
  #containerTopRight .hamburger .bars:before, #containerTopRight .hamburger .bars:after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #0099e1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  /* line 667, sass/_base.scss */
  #containerTopRight .hamburger .bars:before {
    top: 5px;
  }
  /* line 670, sass/_base.scss */
  #containerTopRight .hamburger .bars:after {
    bottom: 5px;
  }
  /* line 674, sass/_base.scss */
  #containerTopRight .hamburger .optionsText {
    color: #0099e1;
  }
  /* line 679, sass/_base.scss */
  #containerTopRight #innerOptions {
    margin-top: 45px;
  }

  /* line 684, sass/_base.scss */
  #containerBottom {
    order: 2;
    padding-left: 10px;
  }
}
