/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, sass/_base.scss */
* {
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 5, sass/_base.scss */
.tooltipdetail {
  display: none;
}

/* line 9, sass/_base.scss */
label {
  display: block;
}

/* line 13, sass/_base.scss */
#graphicContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

/* line 21, sass/_base.scss */
.tooltip {
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 25, sass/_base.scss */
.tooltipcaption {
  font-size: 16px;
  font-weight: 700;
}

/* line 30, sass/_base.scss */
#graph {
  width: 65%;
  margin-right: 10%;
}

/* line 35, sass/_base.scss */
#containerTopRight {
  width: 20%;
}

/* line 39, sass/_base.scss */
#containerBottom {
  width: 60%;
}

/* line 43, sass/_base.scss */
.colorLegendElement {
  display: inline-block;
  text-align: center;
}

/* line 48, sass/_base.scss */
.colorLegendSquare {
  width: 15px;
  height: 15px;
  box-sizing: border-box;
}

/* line 55, sass/_base.scss */
circle {
  stroke: black;
  stroke-width: 1px;
}

/* line 60, sass/_base.scss */
circle:hover {
  cursor: pointer;
}

/* line 63, sass/_base.scss */
.ui-accordion .ui-accordion-header {
  padding: 0px;
}

/* line 66, sass/_base.scss */
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* line 71, sass/_base.scss */
.label {
  fill: #777;
  font-size: 100px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 76, sass/_base.scss */
.year.label {
  font-family: 'Source Sans Pro', sans-serif;
  fill: #ddd;
}

/* line 81, sass/_base.scss */
.year.label.active {
  fill: #aaa;
}

/* line 85, sass/_base.scss */
.ui-accordion .ui-accordion-content {
  padding: 5%;
}

/* line 88, sass/_base.scss */
svg {
  shape-rendering: geometricPrecision;
}

/*Slider code*/
/* line 93, sass/_base.scss */
#slider {
  width: 70%;
}

/* line 97, sass/_base.scss */
.tooltip {
  padding: 3px;
  border: 2px solid black;
  border-radius: 3px;
  background: white;
  display: none;
  position: fixed;
}

/* line 106, sass/_base.scss */
text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  fill: black;
}

/* line 112, sass/_base.scss */
span {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
}

/* line 117, sass/_base.scss */
.colorLegendElement {
  font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width: 0px) and (max-width: 515px) {
  /* line 122, sass/_base.scss */
  #graph {
    width: 95%;
    margin-right: 0%;
  }

  /* line 127, sass/_base.scss */
  #containerTopRight {
    order: 3;
    width: 100%;
    height: 20%;
  }

  /* line 132, sass/_base.scss */
  #containerBottom {
    order: 2;
    width: 100%;
  }
}
