/*===============================
=            Legends            =
===============================*/

/*----------  Color Legend  ----------*/
.chart-color-legend {
	.filter-axis-c {
		display: none;

		@include breakpoint("medium") {
			display: block;
			width: -moz-fit-content;
			width: fit-content;
			padding-right: 1.5rem;
		}
	}

	.filter-select {
		width: auto;
		margin-bottom: 0.5rem;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		float: left;
		display: inline-block;
		text-align: center;
		margin-right: 1rem;
		@include fontSize(14px)

		span {
			display: inline-block;
			width: 12px;
			height: 12px;
			margin-right: 5px;
		}

		&.color0 {
			@include breakpoint("medium") {
				margin-left: 1rem;
			}
		}

		&.colorChina {
			span { background-color: $red !important; }
		}
	}

	.clear {
		clear: both;
	}
}

/*----------  Radius Legend  ----------*/
.chart-radius-legend {
	display: none;

	@include breakpoint("medium") {
		display: block;
	}
	.radius-legend-bg {
		fill: $off-white;
		stroke: $dark-gray;
	}

	.radius-legend-circles {
		fill: $white;
		stroke: $dark-gray;
	}

	.radius-legend-circle-ring {
		fill: none;
		stroke: $red;
	}

	.radius-legend-label {
		@include fontSize(12px);
	}	
}