/*===================================
=            Scatterplot            =
===================================*/

.chart {
  margin: 0 auto;
  text-align: center;

  @include breakpoint("medium") {
    max-height: 600px;
  }
}

.g-axis {
  line, path {
    stroke: $gray;
  }
  text {
    fill: $gray;
    @include fontSize(12px);
  }

  .tick line {
    stroke: $grid-lines;
  }

  .tick.minor {
    display: none;
  }

  .axis__label {
    @include fontSize(14px);
    text-transform: uppercase;
    fill: $black;
    text-anchor: middle;

    @include breakpoint("medium") {
      @include fontSize(16px);
    }
  }

}

.item {
	fill-opacity: 0.8;
}

path.item {
  fill-opacity: 0.3;
}

.chart-year {
  fill: $dark-gray;
  font-size: 100px;
}

.g-guidelines {
  display: none;

  &.active {
    display: block;
  }

  line, path {
    stroke: $gray;
    stroke-dasharray: 4;
  }
  text {
    fill: $red;
    text-anchor: middle;
  }
}

/*----------  Mean Line  ----------*/
.g-mean {
  line {
    stroke: $dark-purple;
    stroke-width: 3;
  }
}
