/*===============================
=            Sidebar            =
===============================*/

.sidebar {
	$sidebar_width: 80vw;
	position: fixed;
	top: 0;
	right: -$sidebar_width;
	width: $sidebar_width;
	background-color: $white;
	padding: 1rem;
	overflow-y: scroll;
	@include prefix(transition, (right 0.2s ease-in-out));

	@include breakpoint("medium") {
		padding: 0 0 0 0;
		position: relative;
		top: unset;
		right: unset;
		width: auto;
		overflow-y: auto;
	}

	&.is-visible {
		z-index: 10;
		right: 0;
		height: 100vh;
		@include prefix(box-shadow, (0 0 5px rgba($black, 0.7)));
		border-top: 1px solid rgba(0,0,0,0.1);
	}

	.filter-axis-c {
		@include breakpoint("medium") {
			display: none;
		}
	}

	.filter-label .axis-type {
		text-transform: capitalize;
	}
}

.sidebar-options {
	@include fontSize(16px);
	text-transform: uppercase;
	color: $dark-red;
	cursor: pointer;

	@include breakpoint("medium") {
		display: none;
	}

	&-open {
		position: absolute;
		right: 1rem;
		z-index: 5;

		&::before {
			content: "";
			position: absolute;
			left: -1.25rem;
			top: 0.35em;
			width: 1em;
			height: 0.1em;
			background: $dark-red;
			box-shadow: 
			0 0.3em 0 0 $dark-red,
			0 0.6em 0 0 $dark-red;
		}
	}

	&-close {
		position: relative;
		text-align: right;
		margin-bottom: 1rem;

		&::before,
		&::after {
		  position: absolute;
		  top: 0.25rem;
		  right: 3.5rem;
		  content: ' ';
		  height: 15px;
		  width: 2px;
		  background-color: $dark-red;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
	}	
}

.filter-intro {
	display: none;

	@include breakpoint("medium") {
		display: block;
		text-align: right;
	}
}
