@import 'mixins';
@import 'flexbox';
@import url('https://fonts.googleapis.com/css?family=Hind|Roboto');

// Variables
$white: #fff;
$black: #000;
$red: #ed392a;
$dark-red: #c42d21;
$green: #58a897;
$blue: #3b75bb;
$purple: #a483a8;
$blue-gray: #728c99;
$off-white: #f1f1f1;
$gray: #333;
$tooltip-gray: #808081;
$select-blue: #455a64;
$select-font-color: #555;
$disabled-button-color: #4a4a4a;
$disabled-button-bg: $off-white;
$form-focus: $off-white;
$dark-gray: #d4d0cb;
$dark-blue: #1D435E;
$dark-purple: #69518d;
$grid-lines: #c5c5c5;
$color__text-button-blue: $blue-gray;
$color__background-button-blue: #2b3d46;
$color__background-button-gray: #d6d6d6;

$font-hind: 'Hind', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// General
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-hind;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: $gray;
  --china-color: $red;
  --breakpoint: "xsmall";

  @include breakpoint("small") {
      --breakpoint: "small";
  }

  @include breakpoint("medium") {
      --breakpoint: "medium";
  }

  @include breakpoint("large") {
      --breakpoint: "large";
  }

  &.sidebar-active {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: gray;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.container-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $white;
  opacity: 0.8;

  @include breakpoint("medium") {
    display: none;
  }

  &.sidebar-active {
    display: block;
  }
}

.content {
  max-width: 700px;
  margin: 0 auto;
}

.title {
  font-family: $font-roboto;
  margin: 1rem auto;
  @include fontSize(23px);
  font-weight: 400;
  line-height: 1.36;
  color: $black;
  text-align: left;

  @include breakpoint("medium") {
    @include fontSize(25px);
    text-align: center;
    margin: 1rem auto;
  }
}

.subtitle {
  margin: 1rem 0;
  line-height: 1;
}

p {
  margin: 0 0 1.5rem;
}

p.instructions {
  margin-bottom: 2rem;
}

.page-title {
  margin-right: 5rem;

  @include breakpoint("medium") {
    margin-right: 0;
  }

  .desc {
    margin-bottom: 1rem;
  }

  .comparisons {
    width: 90vw;
    @include fontSize(16px);

    @include breakpoint("medium") {
      width: auto;
    }
  }

  .comparisons-countries {
    display: block;
    @include breakpoint("medium") {
      display: inline;
      margin-left: 0.5rem;
    }


    .checkbox-container {
      display: inline;
      margin-right: 1rem;

      label {
        color: $black;
      }
    }
  }
}

.content-wrapper {
  position: relative;
}

.chart-container {
  position: relative;
}

/*----------  Sidebar  ----------*/
@import "sidebar";

/*----------  Scatterplot  ----------*/
@import "scatterplot";

/*----------  Tooltips  ----------*/
@import "tooltips";

/*----------  Legends  ----------*/
@import "legends";

/*----------  Form Elements  ----------*/
@import "form-elements";

/*----------  Timeline  ----------*/
@import 'nouislider';

/*----------  Accordion  ----------*/
@import 'accordion';

/*----------  Buttons  ----------*/
@import 'buttons';

/*----------  Loading  ----------*/
@import "loading";

/*----------  Source  ----------*/
@import 'source';

/*----------  IntroJS  ----------*/
@import 'introjs';