/*================================================
=            Accordion: Region Filter            =
================================================*/

.filter-country {
  margin-bottom: 0.5rem;

  @include breakpoint("medium") {
    margin-bottom: 0;
  }
}

.accordion-toggle {
	cursor: pointer;
	margin: 0 auto;
  padding: 0.2rem 0.5rem;
  background-color: $off-white;
  border: 1px solid $dark-gray;
  @include fontSize(16px);

  &::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 0.5rem;
    background-color: $black;
    -webkit-mask:  url('../img/arrow-down.svg') no-repeat 50% 50%;
    mask: url('../img/arrow-down.svg') no-repeat 50% 50%;
    -webkit-mask-size: 150%;
    mask-size: 150%;
    margin-right: 0.5rem;
    transform: rotate(-90deg);
  }

  &.open::before {
    transform: rotate(0);
    @include prefix(transition, (transform 0.3s ease-in-out));
  }
}
.accordion-content {
  overflow: auto;
  @include prefix(transition, (max-height 0.3s cubic-bezier(0,1,0,1), padding 0.3s cubic-bezier(0,1,0,1)));
  height: auto;
  max-height: 300px;
  background-color: $white;
  border: 1px solid $dark-gray;
  border-top: 0;
  margin-bottom: 5px;
  padding: 0.5rem;
  @include fontSize(16px);

  	label {
        color: black;
        clear: left;
    }

    .checkboxes {
        float: left;
    }    

}
.accordion-content.collapsed {
  max-height: 0;
  padding: 0;
  @include prefix(transition, (max-height 0.3s cubic-bezier(0,1,0,1), padding 0.3s cubic-bezier(0,1,0,1)));
  border: 0;
}