/*=====================================
=            Form Elements            =
=====================================*/

label {
  font-family: $font-roboto;
  color: gray;
  display: block;
}

// Filter Options
.filter-label {
  font-family: $font-roboto;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  margin: 0 0 5px;
  display: block;

  @include breakpoint("medium") {
    font-size: 18px;
  }
}

.filter-desc {
  font-size: 12px;
  margin-bottom: 5px;
  color: gray;
}

p.filter-desc { line-height: 1.3; }

.filter-option {
  padding-bottom: 1.5rem;
  
  @include breakpoint("medium") {
    padding-left: 1.25rem;
  }
}

// Select
.filter-select {
    font-size: 15px;
    line-height: 1.28571em;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 3px 35px 5px 7px;
    -webkit-user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $select-font-color;
    border: 2px solid $select-blue;
    -webkit-border-radius: 2px;
    background: $white;
    background-image: url('../img/arrow-down.svg'), linear-gradient(to right, $select-blue, $select-blue);
    background-repeat: no-repeat;
    background-position: 101% center;
    background-size: 30px 30px, 30px 30px;
    -moz-appearance: none;
    -webkit-appearance: button;
}

.filter-axis-x,
.filter-axis-y {
  .filter-select {
    width: calc(65% - 0.5rem);
  }

  .filter-select + .filter-select {
    width: calc(35% - 0.5rem);
    margin-left: 0.5rem;
  }
}

// Swap
.filter-swap-axes {
  margin-bottom: 1rem;

  .filter-swap {
    display: block;
    width: 20%;
    height: 1.25rem;
    margin: 0 auto;
    border: 0;
    cursor: pointer;
    background-color: transparent;

    svg {
      max-height: 100%;
      width: auto;
    }
  }
}

// Checkbox
.checkbox-container {
  position: relative;

    input[type=checkbox] {
        position: absolute;
        opacity: 0;
        transition: 0.2s;
    }
    input[type=checkbox] + label {
        display: inline-block;
        font-weight: normal;
    }
    input[type=checkbox] + label:before {
        content: "";
        display: inline-block;
        vertical-align: -0.2em;
        width: 1rem;
        height: 1rem;
        border: 2px solid $select-blue;
        border-radius: 0.2em;
        margin-right: 0.3em;
        background-color: white;
        transition: 0.2s;
    }

    input[type=checkbox]:checked + label {
        font-weight: semibold;
        font-color: red;
    }

    input[type=checkbox]:focus + label:before,
    input[type=checkbox]:checked:focus + label:before {
        outline: 2px solid rgba(69, 90, 100, .5);
    }

    input[type=checkbox]:hover + label:before {
        background-color: rgba(69, 90, 100, .5);
        box-shadow: inset 0 0 0 0.15em white;
    }

    input[type=checkbox]:checked + label:before {
        background-color: $select-blue;
        box-shadow: inset 0 0 0 0.15em white;
    }

    input[type=checkbox]:disabled + label {
      opacity: 0.5;
    }
}

/*----------  Autocomplete  ----------*/
.country-search {
  margin: 0 0 0.5rem 0;
  padding: 5px 9px;
  background: $form-focus;
  border: 1px solid $select-blue;
  border-radius: 2px;
  font-family: $font-roboto;
  font-size: 15px;
  line-height: 1.2;
  width: 100%;

  &:focus {
    background: $white;
  }
}

.country-search-label {
  margin: 0;
}

.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid $select-blue;
    border-top: 0;
    background: $white;

    /* core styles should not be changed */
    position: absolute;
    display: none;
    z-index: 9999;
    width: 300px;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}
.autocomplete-suggestion {
  position: relative;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  line-height: 1.5;
  color: $black;
}

.autocomplete-suggestion.selected {
  background: $form-focus;
}

/*----------  Clear  ----------*/
.clear-filter {
  border: 0;
  text-align: right;
  background-color: transparent;
  float: right;
  cursor: pointer;
}
