/*===================================
=            Scatterplot            =
===================================*/

.chart {
  margin: 0 auto;
  text-align: center;
}

.g-axis {
  line, path {
    stroke: $gray;
  }
  text {
    fill: $gray;
    @include fontSize(12px);
  }

  .tick line {
    stroke: $grid-lines;
  }

  .axis__label {
    @include fontSize(16px);
    text-transform: uppercase;
    fill: $black;
  }

}

.item {
	fill-opacity: 0.8;
}

path.item {
  fill-opacity: 0.3;
}

.chart-year {
  fill: $dark-gray;
  font-size: 100px;
}

.g-guidelines {
  display: none;

  &.active {
    display: block;
  }

  line, path {
    stroke: $gray;
    stroke-dasharray: 4;
  }
  text {
    fill: $red;
    text-anchor: middle;
  }

}
