/*================================
=            Tooltips            =
================================*/

.tooltip {
  display: none;
  font-size: 13px;
  line-height: 1.4;
  position: absolute;
  z-index: 20;
  height: auto;
  margin: 0 15px;
  padding: 8px 8px 10px;
  visibliity: hidden;
  opacity: 0;
  border: 1px solid $blue-gray;
  background-color: $white;

  @include breakpoint("medium") {
    display: block;
  }

  p { margin: 0; }

  .tooltip-heading {
    font-family: $font-roboto;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
  }

  .tooltip-label {
    color: $black;
  }

  .tooltip-body {
    line-height: 1.2;
    color: $tooltip-gray;
  }

  &.tooltip-selected {
    display: block;
    opacity: 1;
    z-index: 15;
    cursor: pointer;

    .tooltip-heading {
      margin-bottom: 0;
    }
  }
}
