@import 'mixins';
@import 'flexbox';
@import url('https://fonts.googleapis.com/css?family=Hind:400,600|Roboto');

// Variables
$white: #fff;
$black: #000;
$red: #ed392a;
$dark-red: #c42d21;
$green: #58a897;
$blue: #3b75bb;
$purple: #a483a8;
$blue-gray: #728c99;
$off-white: #f1f1f1;
$gray: #333;
$tooltip-gray: #808081;
$select-blue: #455a64;
$select-font-color: #555;
$form-focus: #f1f1f1;
$dark-gray: #d4d0cb;
$dark-blue: #1D435E;

$font-hind: 'Hind', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// General
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-hind;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: $gray;
}

a {
  text-decoration: none;
  color: gray;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.content {
  max-width: 700px;
  margin: 0 auto;
}

.title {
  font-family: $font-roboto;
  margin: 1rem 0;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.36;
  color: $black;
  text-align: center;
}

p {
  margin: 0 0 1.5rem;
}

p.instructions {
  margin-bottom: 2rem;
}

// Chart
.chart {
  margin: 0 auto;
  text-align: center;
}

.g-axis {
  line, path {
    stroke: $gray;
  }
  text {
    fill: $gray;
  }

  .axis__label {
    @include fontSize(16px);
    text-transform: uppercase;
    font-weight: bold;
    fill: $black;
  }

}

.item {
  fill-opacity: 0.8;

  &.special {
    stroke-dasharray: 3
  }
}

path.item {
  fill-opacity: 0.3;
}

.content-wrapper {
  position: relative;
}

.sidebar {

}

.chart-container {
  position: relative;
}

.chart-primary {
  min-height: 500px;
}

.disabled-overlay {
  fill: $off-white;
  fill-opacity: 0.3;
}

// Titles
.subtitle {
  margin: 1rem 0;
  line-height: 1;
}

// Tooltip
.tooltip {
  font-size: 13px;
  line-height: 1.4;
  position: absolute;
  z-index: 10;
  display: block;
  max-width: 200px;
  height: auto;
  margin: 0 15px;
  padding: 8px 8px 10px;
  pointer-events: none;
  opacity: 0;
  border: 1px solid $blue-gray;
  background-color: $white;

  p { margin: 0; }

  .tooltip-heading {
    font-family: $font-roboto;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
  }

  .tooltip-label {
    color: $black;
  }

  .tooltip-body {
    line-height: 1.2;
    color: $tooltip-gray;
  }
}

// Legends
.legends {
  .regional-entity {
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: $white;
    border: 1px dashed $black;
  }
}

.legend-circle {
  fill: none;
  stroke: #000;
}

.legend-dotted-line {
  stroke: #000;
  stroke-dasharray: 2, 2;
  shape-rendering: crispEdges;
}

label {
  font-family: $font-roboto;
  color: gray;
  display: block;
}

// Filter Options
.filter-label {
  display: block;
  font-family: $font-roboto;
  font-size: 14px;
  text-transform: uppercase;
  color: gray;
  line-height: 1.4;
  margin: 0 0 5px;
}

.filter-desc {
  font-size: 12px;
  margin-bottom: 5px;
  color: gray;
}

p.filter-desc { line-height: 1.3; }

.filter-option {
  margin-bottom: 1rem;
}

.filter-country {
  margin-bottom: 0.5rem;

  @include breakpoint("medium") {
    margin-bottom: 0;
  }
}

// Checkbox
.checkbox-container {
  position: relative;
  display: inline-block;
  width: 33%;
  margin-bottom: 2px;

  @include breakpoint("medium") {
    display: block;
    width: unset;
    margin-bottom: unset;
  }

    input[type=checkbox] {
        position: absolute;
        opacity: 0;
        transition: 0.2s;
    }
    input[type=checkbox] + label {
        display: inline-block;
        font-weight: normal;
    }
    input[type=checkbox] + label:before {
        content: "";
        display: inline-block;
        vertical-align: -0.2em;
        width: 1rem;
        height: 1rem;
        border: 2px solid $select-blue;
        border-radius: 0.2em;
        margin-right: 0.3em;
        background-color: white;
        transition: 0.2s;
    }

    input[type=checkbox]:checked + label {
        font-weight: semibold;
        font-color: red;
    }

    input[type=checkbox]:focus + label:before,
    input[type=checkbox]:checked:focus + label:before {
        outline: 2px solid rgba(69, 90, 100, .5);
    }

    input[type=checkbox]:hover + label:before {
        background-color: rgba(69, 90, 100, .5);
        box-shadow: inset 0 0 0 0.15em white;
    }

    input[type=checkbox]:checked + label:before {
        background-color: $select-blue;
        box-shadow: inset 0 0 0 0.15em white;
    }

  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
  }
}

// Autocomplete
.country-search {
  margin: 0.5rem 0;
  padding: 5px 9px;
  background: $form-focus;
  border: 1px solid $select-blue;
  border-radius: 2px;
  font-family: $font-roboto;
  font-size: 15px;
  line-height: 1.2;

  &:focus {
    background: $white;
  }
}

.country-search-label {
  margin: 0;
}

.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid $select-blue;
    border-top: 0;
    background: $white;

    /* core styles should not be changed */
    position: absolute;
    display: none;
    z-index: 9999;
    width: 300px;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}
.autocomplete-suggestion {
  position: relative;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  line-height: 1.5;
  color: $black;
}

.autocomplete-suggestion.selected {
  background: $form-focus;
}

// Loading
.loading-container {
  position: relative;
}

.loading {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  border: 5px solid #fff;
  border-top-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  animation: loading 1.2s linear infinite;
  -webkit-animation: loading 1.2s linear infinite;
  box-sizing: border-box;
}

@keyframes loading{
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}
@-webkit-keyframes loading{
  0%{-webkit-transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg)}
}

// Source
.source {
  margin-top: 2rem;
  text-align: right;

  a {
    float:right;
  }

  svg {
    width: 300px;
    height: auto;
  }

  .source-details {
    clear: right;
    float: right;
    max-width: 350px;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.1;
    margin: 0;
    text-align: right;
    color: gray;
  }
}

/*----------  Timeline  ----------*/
@import 'nouislider';

/*----------  Accordion  ----------*/
@import 'accordion';
